@charset "UTF-8";

@import url('reset.css');
@import url('font.css');
@import url('common.css');



#slide_box {width: 100%; height: 100vh; overflow: hidden; position: relative;} 
#slide_box .swiper {width: 100% ;height: 100%;}
#slide_box .swiper img {width: 100%; height: 101%; object-fit: cover;}

#section1 {padding: 10.4vw 0; overflow-x:hidden ; background: #fff}
#section1 h2 {font-size: var(--title1); margin-bottom: 30px; color: #00cd3c;}
#section1 .centerbox1600 {position: relative;}
#section1 .content {height: 364px; margin-bottom: 30px; width: calc(100vw - ((100vw - 1600px) / 2)) /* width: 1920px; */}
      /* 100vw는 스크롤바 끝까지 다 포함된 화면이고 / 100%는 스크롤바 전까지 다 포함된 화면 */

#section1 .mySwiper2 .swiper-slide { height: 364px; border-radius: 50px; box-sizing: border-box; padding: 30px 30px; display: flex; flex-direction: column;  background: /* #b8e8c6 */ rgb(251, 235, 255)}

/* #section1 .mySwiper2 .swiper-slide img {width:100%;} */
#section1 .swiper_btn2 {position: absolute; bottom: 0; width: 100%;}
#section1 .swiper_btn2 .swiper-button-next { background:#00cd3c; width: 50px; height: 50px; border-radius: 50%; color: #fff; }
#section1 .swiper_btn2 .swiper-button-next:after {font-size: 22px; display: none;}
#section1 .swiper_btn2 .swiper-button-prev { background:#00cd3c; width: 50px; height: 50px; border-radius: 50%; color: #fff;display: none;}
#section1 .swiper_btn2 .swiper-button-prev:after {font-size: 22px; display: none;}





.swiper-pagination {
    top: 60% !important;
}

.swiper-pagination-bullet {
    width: auto !important;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #eee;
    opacity: 1;
    background: none !important; /* !important; 제일 우선으로 해주는, 근데 계속 많이 쓰면 안됨 */
    z-index: 10;
    font-size: 15px;
  }

  .swiper-pagination-bullet-active {
    color: #fff;
  }




/* 슬라이드 안 svg 원 */
/* .text_box .circle {width: 200px; height: 200px; margin: 0 auto;}
.text_box .circle svg {} */
/*.st0 {
  fill: none; /* fill: transparent;  이것도 됨*/
  /*stroke:lime;
  stroke-width:10;
  stroke-linecap:round; 
  stroke-dasharray: 450px; /* <-점선의 길이와 간격 */
  /*stroke-dashoffset: 450px ; /* <-점선이 시작하는 위치 */
  /*animation: one 5s forwards;
} */

/* @keyframes one {
  0% {stroke-dashoffset:450px}
  100% {stroke-dashoffset: 0;}
} */


/* 반원 그래프 그냥 연습임 */
/* .text_box .circle {width: 400px; height: 200px; margin: 0 auto; border: 1px solid lime; position: relative;}

.text_box .circle svg {}
.text_box .circle .bg_circle {position: absolute; width: 100%; height: 100%; border: 1px solid red;}
.text_box .circle .real_circle {position: absolute; width: 100%; height: 100%; }

.bg_circle .st0{fill:#FFFFFF;}
.bg_circle .st1{fill:none;stroke:#EE1C4E;stroke-width:10;stroke-miterlimit:1;stroke-dasharray:100,100;}
.bg_circle .st2{fill:none;stroke:#4268B2;stroke-width:10;stroke-miterlimit:1;stroke-dasharray:100,100;}

.bg_circle .st3{fill:none;stroke:#ddd;stroke-width:10;stroke-linecap:round;}

.real_circle .st0{fill:#FFFFFF;}
.real_circle .st1{fill:none;stroke:#EE1C4E;stroke-width:10;stroke-miterlimit:1;stroke-dasharray:100,100;}
.real_circle .st2{fill:none;stroke:#4268B2;stroke-width:10;stroke-miterlimit:1;stroke-dasharray:100,100;}

.real_circle .st3{fill:none;stroke:red;stroke-width:12;stroke-linecap:round; stroke-dasharray:210; stroke-dashoffset: 210; transition: 1s;}

.circleNumber {font-size: 100px; margin-top: 50px; color: #fff;} */



/* 슬라이드 안 글씨 */
#slide_box .text_box {position: absolute; z-index: 10;  top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; word-break: keep-all;}
#slide_box .text_box .text {font-size: 70px; color: #fff; margin-bottom: 30px;}
#slide_box .text_box .text_s {font-size: 30px; color: #fff;}



/* 슬라이드 페이지 번호 */
.pageNavi {height: 50px; display: flex; justify-content: center; width: 100%; align-items: center; gap: 20px;}
/* .pageNavi .swiper-pagination {top: auto !important; position: relative; width: auto !important; bottom: auto !important;} */

/* 슬라이드 페이지 번호 직접 만든거 위에 주석 대신 */
.pageNavi .pagination {}
.pageNavi .pagination span {font-size: 14px; margin: 0 10px; font-weight: bold; color: #888;}
.pageNavi .pagination span.active {color: #fff;}

.pageNavi .progressbar {width: 150px; height: 2px;  position: relative;}
.pageNavi .progressbar .bar {position: absolute; height: 100%; background: #fff; left: 0; top: 0;}




/* 슬라이드 스크롤 */
#slide_box .scroll_ani {position: absolute; left: 50%; bottom: 2.3vw; /*  선생님은 bottom: 8.3vw; (1920 나누기 160 곱하기 100 )*/ z-index: 10; transform: translateX(-50%); ;color: #676767; display: flex; flex-direction: column; align-items: center; gap: 14px; font-size: 12px;}
/* ㄴ flex-direction: column; 세로 정렬 */
#slide_box .scroll_ani .mouse {width: 24px; height: 34px; border: 2px solid #676767; display: block; border-radius: 50px;}
/* ㄴ border-radius: 50% 를 주게되면 옆 선도 둥글게 돼서 px로 주는게 좋음 */
#slide_box .scroll_ani .mouse::before {content: "";position: absolute;width: 2px; height: 6px; background: #676767; left: 50%; top: 19px; border-radius: 4px;transform: translateX(-50%); animation: wheel 1s infinite;}
@keyframes wheel {
0% {top: 5px;}
100% {top: 19px;}
}







/* 인포메이션 */
.mySwiper2 .swiper-slide .cate {width: 50px; height: 30px; background: #d061bd; color: #ffffff; display: flex; justify-content: center;align-items: center; margin-bottom: 20px; font-size: 16px; margin-top: 20px; border-radius: 10px; }
.mySwiper2 .swiper-slide h4 {font-size: 20px; font-weight: bold; margin-bottom: 20px;}
.mySwiper2 .swiper-slide p {font-size: 18px; color: #525252; flex-grow: 1;}
.mySwiper2 .swiper-slide a {font-size: 16px; color: #000; text-decoration: underline;}

/* #section1 .mySwiper2 .info1 {background: url(../images/info9.png) no-repeat; background-size:100% ;}
#section1 .mySwiper2 .info2 {background: url(../images/info10.png) no-repeat; background-size:100% ;}
#section1 .mySwiper2 .info3 {background: url(../images/info11.png) no-repeat; background-size:100% ;}
#section1 .mySwiper2 .info4 {background: url(../images/info9.png) no-repeat; background-size:100% ;}
#section1 .mySwiper2 .info5 {background: url(../images/info10.png) no-repeat; background-size:100% ;}
#section1 .mySwiper2 .info6 {background: url(../images/info11.png) no-repeat; background-size:100% ;} */


/* 섹션2 */
#section2 { display: flex; /* gap: 60px; */ height: 100vh; position: relative; }

#section2 figure {position: relative; height: 100%;}
#section2 img.bg_section2 {width: 100%;}
#section2 img.color {position: absolute; top: 0; left: 0; display: none;}



/* #section2 .bg_section2 {width: 100%; height: 100%; object-fit: cover;} */
#section2 .section2_text {color: #fff; display: flex;flex-direction: column; align-items: flex-start; justify-content: center; position: absolute; height: 100%; right: 0;; background: rgba(106, 64, 64, 0.7);width: 40%; padding-left: 100px;}
#section2 .section2_text .title_s { font-size: 36px; margin-bottom: 10px; font-weight: bold;}
#section2 .section2_text em { font-size: 16px; font-style: normal; margin-top: 20px; color: #ff9393;}
#section2 .section2_text p {font-size: 32px; margin-bottom: 40px;}
#section2 .section2_text a { font-size: 18px; border: 1px solid #fff; color: #fff; padding: 0.625em 1.25em;}

/* 섹션3 */
#section3 {position: relative; ; background:/* #707ad1 */ url(../images/melon_history.png) no-repeat center; display: flex;}
#section3 .bg_section3 {width: 100%; height: 100%; object-fit: cover;}
#section3 .text_box {margin:10vw 100px; padding: 57px 87px; background: rgba(217, 217, 217,0.6);color: #fff; ;backdrop-filter: blur(10px);  display: flex; flex-direction: column; justify-content: center; align-items: flex-start; left: 10vw;;}
#section3 .text_box .title_s {font-size: 36px; margin-bottom: 10px; font-weight: bold; margin-bottom: 30px;}
/* #section3 .text_box em {font-size: 16px; font-style: normal; margin-bottom: 20px;} */
#section3 .text_box p {font-size: 32px; margin-bottom: 40px;}
#section3 .text_box a {font-size: 18px; border: 1px solid #fff; padding: 0.625em 1.25em; color: #fff;}


/* 고정된 스크롤바 */
.main_position_bar {position: fixed; width: 2px;height: 200px; background: #888; z-index: 777; left: 50px; top: 50%; transform: translateY(-50%);}
.main_position_bar span {display: block; height: 20px; width: 4px;  margin-left: -1px; background: #00cd3c; position: absolute; top: 0; transition: 0.5s;}

/* html {scroll-behavior: smooth;} -> 자동으로 부드럽게 넘어가는데 안되는 웹이 있을수있음 */

.go_top {position: fixed; right: 30px; bottom: 50px; background: #00cd3c;color: #fff; display: flex; justify-content: center; align-items: center; width: 60px; height: 60px; z-index: 10; opacity: 0; visibility: hidden; transition: 0.5s;}


/* subpage */

/* life */
.life .contents_box ul {display: flex; justify-content: space-between; flex-wrap: wrap;gap: 60px 20px;}
.life .contents_box ul li {width: 40% /* 330px */ ; flex-grow: 1; text-align: center;}
.life .contents_box ul li figure {border: 1px solid #ededed;border-radius: 10px; display: flex ; justify-content: center; align-items: center; margin-bottom: 10px; position: relative; padding-bottom: 69.6%; }
.life .contents_box ul li figure img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.life .contents_box ul li .title {font-size: 20px; margin-top: 20px; margin-bottom: 8px;}
.life .contents_box ul li .cont { font-size: 18px; color: #7e7e7e;}


/* history */
.history .content {}
.history .year_box {position: relative;}
.history .year_box .all > ul {display: flex;}
.history .year_box ul li.year {padding-right: 4.5vw; min-width: 80px; font-size: 26px; font-weight: bold;}
.history .year_box ul li.text {flex-grow: 1; padding-left: 4.5vw; position: relative; padding-bottom: 2.6vw; } 
.history .year_box ul .month_box {display: flex; gap: 3vw;margin-bottom: 15px;} 
.history .year_box ul .month_box .month {font-weight: bold; min-width: 40px} 
.history .year_box ul li.text::before {content: ""; position: absolute; width: 1px;height: 100%; background: #cbcbcb; left: 0;} 
.history .year_box ul li.text::after {content: ""; position: absolute; width: 8px;height: 8px; background: #cbcbcb; left: -4px; top: 0; border-radius: 50%;} 

/* .history .year_box .all:nth-last-of-type(1) ul:last-child li.text::before {} 밑과 동일 */
.history .year_box :last-child ul:last-child li.text::before {display: none;}
.history .year_box :last-child ul:last-child li.text::after {background: #b7e4c4;}

.history .now {position: absolute; width: 13px; height: 13px; border-radius: 50%; background: #00cd3c; left: calc(80px + 4.5vw - 6px); z-index: 2; transition: 0.3s;}




/*  */
@media screen and (max-width:1600px) { 
  #section1 {padding-left: 20px; box-sizing: border-box ; }
  #section2 img {width: 100%; height: 100%; object-fit: cover;}
}


/*  */
@media screen and (max-width:1024px) { 
  .pc {display: none;}
  .mo {display: block;}

  header .centerbox1600 nav .gnb {display: none;}
  header .nav_box {display: none; position: fixed; height: 100vh;;top: 0; overflow: auto;}
  header .menu_box .menu {flex-direction: column;}
  header .menu_box .menu li {text-align: center;}
  header .menu_box .menu li .submenu {position: relative; background: rgba(0, 0, 0, 0.1); display: none;}
   
  #slide_box .text_box {width: 100%;}

  .contents_box {margin: 0 20px;}

  #section1 {overflow-x: visible; }
  #section1 .content {width: 100%;}
  #section2 .section2_text {padding: 20px;}
  #section2 .section2_text p {font-size: 26px;}
  #section3 .text_box p {font-size: 26px;}

  footer .centerbox1600 .f_logo .add em {margin-top: 30px;}
}


/* 태블릿 */
@media screen and (max-width:900px) {
  #slide_box .text_box .text {font-size: 40px;}
  #slide_box .text_box .text_s {font-size: 20px;}

  #section2  {flex-direction: column;}
  #section2 .section2_text {/* margin: 50px 20px; */}
}

/* 모바일 */
@media screen and (max-width:640px) {
  #slide_box img {min-height: 50vh;}
  #slide_box .scroll_ani {bottom: 2vw;}
  #slide_box .text_box .text {font-size: 30px;}
  #slide_box .text_box .text_s {font-size: 18px;}

  

  #section3 .text_box {padding: 30px 10px; color: #fff; left: 20px; transform: translate(0, 0);}
  #section3 .text_box .title_s {font-size: 18px; margin-bottom: 10px; font-weight: bold; margin-bottom: 30px;}
  /* #section3 .text_box em {font-size: 16px; font-style: normal; margin-bottom: 20px;} */
  #section3 .text_box p {font-size: 26px; }
  #section3 .text_box a {font-size: 15px; border: 1px solid #fff; color: #fff;}


  /* subpage */
  .life .contents_box ul li {width: 40%;}
  .snb_box {overflow-y: hidden; overflow-x: auto;}
  /* .snb_box .snb {justify-content: flex-start;} 메뉴가 길어질시에 넣어줄 것 */
  .snb_box .snb li {font-size: 18px;}
  .snb_box .snb li a {padding: 0 3vw;}
  .tabmenu ul li {font-size: 16px; text-align: center;}
  /* .tabmenu ul li a {padding: 10px 5px;} */
}
